* {
	margin:0px;
	padding:0px;
}

/*TEXTOS E ICONOS ENCABEZADOS*/
h1, h3 {
	color:#47A3DA;
	text-align: center;
}
h3 {
	margin-top: 50px;
}
h1 {
	margin-top: 20px;
}
.ancla:hover {
	color: white;
}
.ancla {
	color:#47A3DA; 
}
.iconos {
	margin-left:57px;
}
.circulo{
   width: 60px;
   height: 60px;
   background-color:white;
   border: #47A3DA 4px solid;
   border-radius: 35px;
   margin-top: 52px;
   text-align: center;
   display: inline-block;
}
/*.fa-arrow-left:hover, .fa-arrow-right:hover, .fa-tint:hover,.fa-hand-peace-o:hover {
	color:#47A3DA; 
	display: inline-block;
	text-align:center;
	margin-top: 20px;
	font-size: 20px;
}*/



.fa-arrow-left, .fa-arrow-right, .fa-tint,.fa-hand-peace-o {
	color:#47A3DA; 
	display: inline-block;
	text-align:center;
	margin-top: 20px;
	font-size: 20px;
}
/*ICONOS*/
.icono1, .icono2, .icono3,.icono4,.icono5,.icono6 {
	width: 363px;
	height: 421px;
	border-bottom:#D8D8D8 2px solid;
	margin-left: 26px;
    margin-top: 55px;
    transition: all 0.4s ease;

    
}
/*HOVER*/
/*background*/
.icono1:hover{
  background-color:#47A3DA;
}
.icono2:hover{
  background-color:#47A3DA;
}
.icono3:hover{
  background-color:#47A3DA;
}
.icono4:hover{
  background-color:#47A3DA;
}
.icono5:hover{
  background-color:#47A3DA;
}
.icono6:hover{
  background-color:#47A3DA;
}

.fa-anchor, .fa-ship, .fa-space-shuttle,.fa-diamond,.fa-camera,.fa-rocket {
	color:#47A3DA; 
	margin-top: 100px;	
	margin-left: 133px;
	display: block;
}
.linea {
	height: 6px;
	width: 161px;
	background-color:#47A3DA; 
	margin-top: 85px;
	margin-left:95px;
}
.icono1:hover .linea, .icono2:hover .linea, .icono3:hover .linea, .icono4:hover .linea, .icono5:hover .linea , .icono6:hover .linea {
	background-color: white;
}

.icono1:hover .fa, .icono2:hover .fa,.icono3:hover .fa,.icono4:hover .fa,.icono5:hover .fa, .icono6:hover .fa{
	color:white;
}
.icono1:hover .linea:{
	color: white;
}		
.icono1:hover .ancla{
	color: white;
}
.icono2:hover .ancla {
	color:white;
}
.icono3:hover .ancla {
	color:white;
}
.icono4:hover .ancla {
	color:white;
}
.icono5:hover .ancla {
	color:white;
}
.icono6:hover .ancla {
	color:white;
}



/*.linea:hover {
	height: 6px;
	width: 161px;
	background-color:white; 
	margin-top: 85px;
	margin-left:95px;
}*/
/*ICONO2*/


/*MEDIA QUERY*/ 

@media (min-width:700px){
	.iconos {
		text-align: center;
		margin-left: 30px;
	}
	.icono1, .icono2, .icono3,.icono4,.icono5,.icono6 {
		display: inline-block;

}

@media (min-width:1024px){
	.circulo {
		display: inline-block;

	}
	header {
		text-align: left;
	}
	h1 {
		color:#47A3DA;
	}
}

